schemas/xcst-app.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Converted from Relax NG schema, using Trang. Use only with code completion tools that do not support Relax NG. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://maxtoroq.github.io/XCST/application" elementFormDefault="qualified" targetNamespace="http://maxtoroq.github.io/XCST/application">
   <xs:element name="extension-instruction" abstract="true"/>
   <xs:group name="sequence-constructor">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="a:extension-instruction"/>
            <xs:group ref="a:other-element"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="other-element">
      <xs:choice>
         <xs:any namespace="##other" processContents="lax"/>
         <xs:any namespace="##local" processContents="lax"/>
      </xs:choice>
   </xs:group>
   <xs:group name="value-attribute-or-content">
      <xs:sequence>
         <xs:group minOccurs="0" ref="a:sequence-constructor"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="value-attribute-or-content">
      <xs:attribute name="value" type="a:expression"/>
   </xs:attributeGroup>
   <xs:element name="input" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attributeGroup ref="a:input-for-name-value-attribs"/>
         <xs:attribute name="type">
            <xs:simpleType>
               <xs:union memberTypes="a:input-type a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="format" type="a:avt"/>
         <xs:attributeGroup ref="a:text-box-attribs"/>
         <xs:attributeGroup ref="a:input-attribs"/>
         <xs:attributeGroup ref="a:html-attribs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="textarea" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attributeGroup ref="a:input-for-name-value-attribs"/>
         <xs:attribute name="rows">
            <xs:simpleType>
               <xs:union memberTypes="a:integer a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="cols">
            <xs:simpleType>
               <xs:union memberTypes="a:integer a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attributeGroup ref="a:text-box-attribs"/>
         <xs:attributeGroup ref="a:input-attribs"/>
         <xs:attributeGroup ref="a:html-attribs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="check-box" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attribute name="for" type="a:expression"/>
         <xs:attribute name="name" type="a:avt"/>
         <xs:attribute name="checked">
            <xs:simpleType>
               <xs:union memberTypes="a:boolean a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attributeGroup ref="a:input-attribs"/>
         <xs:attributeGroup ref="a:html-attribs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="radio-button" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attribute name="value" use="required" type="a:expression"/>
         <xs:attribute name="for" type="a:expression"/>
         <xs:attribute name="name" type="a:avt"/>
         <xs:attribute name="checked">
            <xs:simpleType>
               <xs:union memberTypes="a:boolean a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attributeGroup ref="a:input-attribs"/>
         <xs:attributeGroup ref="a:html-attribs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="anti-forgery-token" substitutionGroup="a:extension-instruction">
      <xs:complexType/>
   </xs:element>
   <xs:element name="select" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="a:options">
               <xs:attributeGroup ref="a:input-for-name-value-attribs"/>
               <xs:attribute name="multiple" type="a:boolean"/>
               <xs:attributeGroup ref="a:input-attribs"/>
               <xs:attributeGroup ref="a:html-attribs"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="options">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="a:option"/>
      </xs:sequence>
      <xs:attribute name="options" type="a:options-expr"/>
   </xs:complexType>
   <xs:element name="option">
      <xs:complexType mixed="true">
         <xs:group ref="a:sequence-constructor"/>
         <xs:attribute name="value" type="a:expression"/>
         <xs:attribute name="selected">
            <xs:simpleType>
               <xs:union memberTypes="a:boolean a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="disabled">
            <xs:simpleType>
               <xs:union memberTypes="a:boolean a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="input-for-name-value-attribs">
      <xs:attribute name="for" type="a:expression"/>
      <xs:attribute name="name" type="a:avt"/>
      <xs:attribute name="value" type="a:expression"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="input-attribs">
      <xs:attribute name="disabled">
         <xs:simpleType>
            <xs:union memberTypes="a:boolean a:avt-expr"/>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="text-box-attribs">
      <xs:attribute name="readonly">
         <xs:simpleType>
            <xs:union memberTypes="a:boolean a:avt-expr"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="placeholder" type="a:avt"/>
   </xs:attributeGroup>
   <xs:element name="label" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attribute name="for" type="a:expression"/>
         <xs:attribute name="name" type="a:avt"/>
         <xs:attribute name="text" type="a:avt"/>
         <xs:attributeGroup ref="a:html-attribs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="validation-summary" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attribute name="include-member-errors">
            <xs:simpleType>
               <xs:union memberTypes="a:boolean a:avt-expr"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="message" type="a:avt"/>
         <xs:attributeGroup ref="a:html-attribs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="validation-message" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attribute name="for" type="a:expression"/>
         <xs:attribute name="name" type="a:avt"/>
         <xs:attribute name="message" type="a:avt"/>
         <xs:attributeGroup ref="a:html-attribs"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="html-attribs">
      <xs:attribute name="class" type="a:avt"/>
      <xs:attribute name="attributes" type="a:expr-obj-dict"/>
   </xs:attributeGroup>
   <xs:element name="editor" substitutionGroup="a:extension-instruction" type="a:editor-display-common"/>
   <xs:element name="display" substitutionGroup="a:extension-instruction" type="a:editor-display-common"/>
   <xs:complexType name="editor-display-common">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="a:with-options"/>
         <xs:element minOccurs="0" ref="a:member-template"/>
      </xs:sequence>
      <xs:attribute name="for" type="a:expression"/>
      <xs:attribute name="name" type="a:avt"/>
      <xs:attribute name="template" type="a:avt"/>
      <xs:attribute name="html-field-name" type="a:avt"/>
      <xs:attribute name="attributes" type="a:expr-obj-dict"/>
      <xs:attribute name="with-params" type="a:expr-obj-dict"/>
      <xs:attribute name="options" type="a:options-expr"/>
   </xs:complexType>
   <xs:element name="with-options">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="a:options">
               <xs:attribute name="for" type="a:expression"/>
               <xs:attribute name="name" type="a:avt"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="member-template">
      <xs:complexType mixed="true">
         <xs:group ref="a:sequence-constructor"/>
         <xs:attribute name="helper-name" type="a:identifier"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="display-name" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attribute name="for" type="a:expression"/>
         <xs:attribute name="name" type="a:avt"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="display-text" substitutionGroup="a:extension-instruction">
      <xs:complexType>
         <xs:attribute name="for" type="a:expression"/>
         <xs:attribute name="name" type="a:avt"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="model" substitutionGroup="a:extension-instruction">
      <xs:complexType mixed="true">
         <xs:group ref="a:sequence-constructor"/>
         <xs:attribute name="value" type="a:expression"/>
         <xs:attribute name="as" type="a:type_name"/>
         <xs:attribute name="html-field-prefix" type="a:avt"/>
         <xs:attribute name="with-params" type="a:expr-obj-dict"/>
         <xs:attribute name="helper-name" type="a:identifier"/>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="string">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="integer">
      <xs:restriction base="xs:int"/>
   </xs:simpleType>
   <xs:simpleType name="boolean">
      <xs:annotation>
         <xs:documentation>One of the values "yes", "no", "true", "false", "1" or "0".</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="yes"/>
         <xs:enumeration value="no"/>
         <xs:enumeration value="true"/>
         <xs:enumeration value="false"/>
         <xs:enumeration value="1"/>
         <xs:enumeration value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="input-type">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="avt">
      <xs:annotation>
         <xs:documentation>Attribute value template.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="a:string"/>
   </xs:simpleType>
   <xs:simpleType name="avt-expr">
      <xs:annotation>
         <xs:documentation>Attribute value template.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value=".*\{.+\}.*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="expression">
      <xs:annotation>
         <xs:documentation>Expression.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="expr-obj-dict">
      <xs:restriction base="a:expression"/>
   </xs:simpleType>
   <xs:simpleType name="options-expr">
      <xs:restriction base="a:expression"/>
   </xs:simpleType>
   <xs:simpleType name="identifier">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="type_name">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>