schemas/xcst-app.rng

<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2015 Max Toro Q.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:ann="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:docs="http://maxtoroq.github.io/XCST/docs"
   xmlns:a="http://maxtoroq.github.io/XCST/application"
   xmlns:c="http://maxtoroq.github.io/XCST"
   ns="http://maxtoroq.github.io/XCST/application"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

   <div>
      <ann:documentation>Categories</ann:documentation>

      <define name="extension-instruction" docs:display-type="true">
         <choice>
            <ref name="antiforgery"/>
            <ref name="checkbox"/>
            <ref name="display"/>
            <ref name="display-name"/>
            <ref name="display-text"/>
            <ref name="editor"/>
            <ref name="form"/>
            <ref name="hidden"/>
            <ref name="input"/>
            <ref name="label"/>
            <ref name="model"/>
            <ref name="radio"/>
            <ref name="select"/>
            <ref name="textarea"/>
            <ref name="validation-summary"/>
            <ref name="validation-message"/>
         </choice>
      </define>

      <define name="sequence-constructor" docs:display-type="true">
         <zeroOrMore>
            <choice>
               <ref name="extension-instruction"/>
               <ref name="_other-element"/>
               <text/>
            </choice>
         </zeroOrMore>
      </define>

      <define name="_other-element">
         <element>
            <anyName>
               <except>
                  <nsName/>
               </except>
            </anyName>
            <zeroOrMore>
               <attribute>
                  <anyName>
                     <except>
                        <nsName/>
                     </except>
                  </anyName>
               </attribute>
            </zeroOrMore>
            <ref name="sequence-constructor"/>
         </element>
      </define>
   </div>

   <div>
      <ann:documentation>Forms</ann:documentation>

      <define name="input">
         <element name="input">
            <ann:documentation>Creates an &lt;input> element.</ann:documentation>
            <ref name="_input-for-name-value-attribs"/>
            <zeroOrMore>
               <choice>
                  <attribute name="type">
                     <choice>
                        <ref name="input-type"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
                  <attribute name="format">
                     <ref name="avt"/>
                  </attribute>
               </choice>
            </zeroOrMore>
            <ref name="_text-box-attribs"/>
            <ref name="_input-attribs"/>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="hidden">
         <element name="hidden">
            <ann:documentation>Creates an &lt;input> element of type 'hidden'.</ann:documentation>
            <ref name="_input-for-name-value-attribs"/>
            <ref name="_input-attribs-except-autofocus"/>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="textarea">
         <element name="textarea">
            <ann:documentation>Creates a &lt;textarea> element.</ann:documentation>
            <ref name="_input-for-name-value-attribs"/>
            <zeroOrMore>
               <choice>
                  <attribute name="rows">
                     <choice>
                        <ref name="integer"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
                  <attribute name="cols">
                     <choice>
                        <ref name="integer"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
               </choice>
            </zeroOrMore>
            <ref name="_text-box-attribs"/>
            <ref name="_input-attribs"/>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="checkbox">
         <element name="checkbox">
            <ann:documentation>Creates an &lt;input> element of type 'checkbox'.</ann:documentation>
            <choice>
               <attribute name="for">
                  <ref name="expression"/>
               </attribute>
               <zeroOrMore>
                  <choice>
                     <attribute name="name">
                        <ref name="avt"/>
                     </attribute>
                     <attribute name="checked">
                        <choice>
                           <ref name="boolean"/>
                           <ref name="avt-expr"/>
                        </choice>
                     </attribute>
                  </choice>
               </zeroOrMore>
            </choice>
            <ref name="_input-attribs"/>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="radio">
         <element name="radio">
            <ann:documentation>Creates an &lt;input> element of type 'radio'.</ann:documentation>
            <attribute name="value">
               <ref name="expression"/>
            </attribute>
            <choice>
               <attribute name="for">
                  <ref name="expression"/>
               </attribute>
               <zeroOrMore>
                  <choice>
                     <attribute name="name">
                        <ref name="avt"/>
                     </attribute>
                     <attribute name="checked">
                        <choice>
                           <ref name="boolean"/>
                           <ref name="avt-expr"/>
                        </choice>
                     </attribute>
                  </choice>
               </zeroOrMore>
            </choice>
            <ref name="_input-attribs"/>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="antiforgery">
         <element name="antiforgery">
            <ann:documentation>Creates an &lt;input> element of type 'hidden' containing the antiforgery token.</ann:documentation>
            <empty/>
         </element>
      </define>

      <define name="select">
         <element name="select">
            <ann:documentation>Creates a &lt;select> element.</ann:documentation>
            <ref name="_input-for-name-value-attribs"/>
            <ref name="_options"/>
            <optional>
               <attribute name="multiple">
                  <ref name="boolean"/>
               </attribute>
            </optional>
            <ref name="_input-attribs"/>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="_options">
         <optional>
            <attribute name="options">
               <ref name="options-expr"/>
            </attribute>
         </optional>
         <zeroOrMore>
            <element name="option">
               <ann:documentation>Creates an &lt;option> element.</ann:documentation>
               <zeroOrMore>
                  <choice>
                     <attribute name="value">
                        <ref name="expression"/>
                     </attribute>
                     <attribute name="selected">
                        <choice>
                           <ref name="boolean"/>
                           <ref name="avt-expr"/>
                        </choice>
                     </attribute>
                     <attribute name="disabled">
                        <choice>
                           <ref name="boolean"/>
                           <ref name="avt-expr"/>
                        </choice>
                     </attribute>
                  </choice>
               </zeroOrMore>
               <ref name="sequence-constructor"/>
            </element>
         </zeroOrMore>
      </define>

      <define name="_input-for-name-value-attribs">
         <choice>
            <attribute name="for">
               <ref name="expression"/>
            </attribute>
            <zeroOrMore>
               <choice>
                  <attribute name="name">
                     <ref name="avt"/>
                  </attribute>
                  <attribute name="value">
                     <ref name="expression"/>
                  </attribute>
               </choice>
            </zeroOrMore>
         </choice>
      </define>

      <define name="_input-attribs">
         <ref name="_input-attribs-except-autofocus"/>
         <zeroOrMore>
            <choice>
               <attribute name="autofocus">
                  <choice>
                     <ref name="boolean"/>
                     <ref name="avt-expr"/>
                  </choice>
               </attribute>
            </choice>
         </zeroOrMore>
      </define>

      <define name="_input-attribs-except-autofocus">
         <zeroOrMore>
            <choice>
               <attribute name="disabled">
                  <choice>
                     <ref name="boolean"/>
                     <ref name="avt-expr"/>
                  </choice>
               </attribute>
            </choice>
         </zeroOrMore>
      </define>

      <define name="_text-box-attribs">
         <zeroOrMore>
            <choice>
               <attribute name="readonly">
                  <choice>
                     <ref name="boolean"/>
                     <ref name="avt-expr"/>
                  </choice>
               </attribute>
               <attribute name="placeholder">
                  <ref name="avt"/>
               </attribute>
            </choice>
         </zeroOrMore>
      </define>

      <define name="label">
         <element name="label">
            <ann:documentation>Creates a &lt;label> element.</ann:documentation>
            <choice>
               <attribute name="for">
                  <ref name="expression"/>
               </attribute>
               <optional>
                  <attribute name="name">
                     <ref name="avt"/>
                  </attribute>
               </optional>
            </choice>
            <optional>
               <attribute name="text">
                  <ref name="avt"/>
               </attribute>
            </optional>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="validation-summary">
         <element name="validation-summary">
            <ann:documentation>Creates an unordered list (&lt;ul> element) of validation messages.</ann:documentation>
            <zeroOrMore>
               <choice>
                  <attribute name="include-member-errors">
                     <choice>
                        <ref name="boolean"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
                  <attribute name="message">
                     <ref name="avt"/>
                  </attribute>
               </choice>
            </zeroOrMore>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="validation-message">
         <element name="validation-message">
            <ann:documentation>Creates a &lt;span> element with a validation message if it exists.</ann:documentation>
            <choice>
               <attribute name="for">
                  <ref name="expression"/>
               </attribute>
               <optional>
                  <attribute name="name">
                     <ref name="avt"/>
                  </attribute>
               </optional>
            </choice>
            <optional>
               <attribute name="message">
                  <ref name="avt"/>
               </attribute>
            </optional>
            <ref name="_html-attribs"/>
         </element>
      </define>

      <define name="_html-attribs">
         <zeroOrMore>
            <choice>
               <attribute name="class">
                  <ref name="avt"/>
               </attribute>
               <attribute name="attributes">
                  <ref name="expr-obj-dict"/>
               </attribute>
            </choice>
         </zeroOrMore>
      </define>
   </div>

   <div>
      <ann:documentation>Templates</ann:documentation>

      <define name="editor">
         <element name="editor">
            <ann:documentation>Creates a form control for a model's member, or an "edit view" for a whole model.</ann:documentation>
            <ref name="_editor-display-common"/>
            <zeroOrMore>
               <choice>
                  <attribute name="autofocus">
                     <choice>
                        <ref name="boolean"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
                  <attribute name="disabled">
                     <choice>
                        <ref name="boolean"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
                  <attribute name="readonly">
                     <choice>
                        <ref name="boolean"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
               </choice>
            </zeroOrMore>
         </element>
      </define>

      <define name="display">
         <element name="display">
            <ann:documentation>Creates a "displayable" representation of a model's member or whole model.</ann:documentation>
            <ref name="_editor-display-common"/>
         </element>
      </define>

      <define name="_editor-display-common">
         <choice>
            <attribute name="for">
               <ref name="expression"/>
            </attribute>
            <optional>
               <attribute name="name">
                  <ref name="avt"/>
               </attribute>
            </optional>
         </choice>
         <optional>
            <choice>
               <attribute name="members">
                  <ref name="members"/>
               </attribute>
               <attribute name="members-names">
                  <choice>
                     <ref name="members"/>
                     <ref name="avt-expr"/>
                  </choice>
               </attribute>
            </choice>
         </optional>
         <zeroOrMore>
            <choice>
               <attribute name="template">
                  <ref name="avt"/>
               </attribute>
               <attribute name="field-name">
                  <ref name="avt"/>
               </attribute>
               <attribute name="attributes">
                  <ref name="expr-obj-dict"/>
               </attribute>
               <attribute name="with-params">
                  <ref name="expr-obj-dict"/>
               </attribute>
               <attribute name="options">
                  <ref name="options-expr"/>
               </attribute>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="with-options"/>
         </zeroOrMore>
         <optional>
            <ref name="member-template"/>
         </optional>
      </define>

      <define name="with-options">
         <element name="with-options">
            <ann:documentation>Defines options for a model's member form control.</ann:documentation>
            <choice>
               <attribute name="for">
                  <ref name="expression"/>
               </attribute>
               <optional>
                  <attribute name="name">
                     <ref name="avt"/>
                  </attribute>
               </optional>
            </choice>
            <ref name="_options"/>
         </element>
      </define>

      <define name="member-template">
         <element name="member-template">
            <ann:documentation>Defines a custom template for the members of a model.</ann:documentation>
            <optional>
               <attribute name="helper-name">
                  <ref name="identifier"/>
               </attribute>
            </optional>
            <ref name="sequence-constructor"/>
         </element>
      </define>
   </div>

   <div>
      <ann:documentation>Metadata</ann:documentation>

      <define name="display-name">
         <element name="display-name">
            <ann:documentation>The possibly localized name of a model's member suitable for UI.</ann:documentation>
            <choice>
               <attribute name="for">
                  <ref name="expression"/>
               </attribute>
               <optional>
                  <attribute name="name">
                     <ref name="avt"/>
                  </attribute>
               </optional>
            </choice>
         </element>
      </define>

      <define name="display-text">
         <element name="display-text">
            <ann:documentation>The text representation of a model's member suitable for UI.</ann:documentation>
            <choice>
               <attribute name="for">
                  <ref name="expression"/>
               </attribute>
               <optional>
                  <attribute name="name">
                     <ref name="avt"/>
                  </attribute>
               </optional>
            </choice>
         </element>
      </define>

      <define name="member-extensions" docs:extends="c:member" docs:attrib-group="Validation">
         <zeroOrMore>
            <choice>
               <attribute name="a:file-extensions">
                  <ann:documentation>A comma-separated list of valid file extensions for this member.</ann:documentation>
                  <ref name="file-extensions"/>
               </attribute>
               <attribute name="a:file-max-length">
                  <ann:documentation>A maximum valid file length for this member.</ann:documentation>
                  <ref name="integer"/>
               </attribute>
               <attribute name="a:bind" docs:attrib-group="Model Binding">
                  <ann:documentation>Specifies if this member should be included or excluded from model binding.</ann:documentation>
                  <ref name="boolean"/>
               </attribute>
            </choice>
         </zeroOrMore>
      </define>

      <define name="member-or-validation-extensions" docs:extends="c:member c:validation" docs:attrib-group="Validation">
         <zeroOrMore>
            <choice>
               <attribute name="a:file-extensions-message">
                  <ann:documentation>An error message for the a:file-extensions attribute.</ann:documentation>
                  <ref name="string"/>
               </attribute>
               <attribute name="a:file-max-length-message">
                  <ann:documentation>An error message for the a:file-max-length attribute.</ann:documentation>
                  <ref name="string"/>
               </attribute>
            </choice>
         </zeroOrMore>
      </define>
   </div>

   <div>
      <ann:documentation>Models</ann:documentation>

      <define name="form">
         <element name="form">
            <ann:documentation>Creates a &lt;form> element and defines a model for descendant instructions.</ann:documentation>
            <attribute name="method">
               <ref name="form-method"/>
            </attribute>
            <oneOrMore>
               <choice>
                  <attribute name="model-value">
                     <ref name="expression"/>
                  </attribute>
                  <attribute name="model-type">
                     <ref name="type_name"/>
                  </attribute>
               </choice>
            </oneOrMore>
            <zeroOrMore>
               <choice>
                  <attribute name="id">
                     <ref name="avt"/>
                  </attribute>
                  <attribute name="action">
                     <ref name="avt"/>
                  </attribute>
                  <attribute name="autocomplete">
                     <ref name="avt"/>
                  </attribute>
                  <attribute name="enctype">
                     <ref name="avt"/>
                  </attribute>
                  <attribute name="antiforgery">
                     <choice>
                        <ref name="boolean"/>
                        <ref name="avt-expr"/>
                     </choice>
                  </attribute>
               </choice>
            </zeroOrMore>
            <ref name="_html-attribs"/>
            <ref name="_form-model-common"/>
         </element>
      </define>

      <define name="model">
         <element name="model">
            <ann:documentation>Defines a model for descendant instructions.</ann:documentation>
            <oneOrMore>
               <choice>
                  <attribute name="value">
                     <ref name="expression"/>
                  </attribute>
                  <attribute name="as">
                     <ref name="type_name"/>
                  </attribute>
               </choice>
            </oneOrMore>
            <ref name="_form-model-common"/>
         </element>
      </define>

      <define name="_form-model-common">
         <zeroOrMore>
            <choice>
               <attribute name="field-prefix">
                  <ref name="avt"/>
               </attribute>
               <attribute name="helper-name">
                  <ref name="identifier"/>
               </attribute>
            </choice>
         </zeroOrMore>
         <ref name="sequence-constructor"/>
      </define>
   </div>

   <div>
      <ann:documentation>Data Types</ann:documentation>

      <define name="string">
         <data type="string"/>
      </define>

      <define name="integer">
         <data type="int"/>
      </define>

      <define name="boolean" docs:display-type="true">
         <ann:documentation>One of the values "yes", "no", "true", "false", "1" or "0".</ann:documentation>
         <choice>
            <value>yes</value>
            <value>no</value>
            <value>true</value>
            <value>false</value>
            <value>1</value>
            <value>0</value>
         </choice>
      </define>

      <define name="input-type">
         <data type="token">
            <param name="minLength">1</param>
         </data>
      </define>

      <define name="form-method">
         <choice>
            <value>post</value>
            <value>get</value>
         </choice>
      </define>

      <define name="file-extensions">
         <data type="token">
            <param name="minLength">1</param>
         </data>
      </define>

      <define name="avt">
         <ann:documentation>Attribute value template.</ann:documentation>
         <ref name="string"/>
      </define>

      <define name="avt-expr">
         <ann:documentation>Attribute value template.</ann:documentation>
         <data type="string">
            <param name="pattern">.*\{.+\}.*</param>
         </data>
      </define>

      <define name="expression">
         <ann:documentation>Expression.</ann:documentation>
         <data type="string">
            <param name="minLength">1</param>
         </data>
      </define>

      <define name="expr-obj-dict">
         <ref name="expression">
            <docs:expression-type name="System.Object"/>
            <docs:expression-type name="System.Collections.Generic.IDictionary" topic="s4ys34ea">
               <docs:type-param name="System.String"/>
               <docs:type-param name="System.Object"/>
            </docs:expression-type>
         </ref>
      </define>

      <define name="options-expr">
         <ref name="expression">
            <docs:expression-type name="System.Collections.Generic.IEnumerable" topic="9eekhta0">
               <docs:type-param name="System.Web.Mvc.SelectListItem"/>
            </docs:expression-type>
            <docs:expression-type name="System.Collections.Generic.IEnumerable" topic="9eekhta0">
               <docs:type-param name="System.Collections.Generic.KeyValuePair&lt;TKey, TValue>" topic="5tbh8a42"/>
            </docs:expression-type>
            <docs:expression-type name="System.Collections.Generic.IEnumerable" topic="9eekhta0">
               <docs:type-param name="System.Linq.IGrouping" topic="bb344977">
                  <docs:type-param name="TGroupKey"/>
                  <docs:type-param name="System.Collections.Generic.KeyValuePair&lt;TKey, TValue>" topic="5tbh8a42"/>
               </docs:type-param>
            </docs:expression-type>
            <docs:expression-type name="System.Collections.Generic.IEnumerable" topic="9eekhta0">
               <docs:type-param name="System.Linq.IGrouping&lt;TKey, TElement>" topic="bb344977"/>
            </docs:expression-type>
            <docs:expression-type name="System.Collections.IEnumerable"/>
         </ref>
      </define>

      <define name="members">
         <list>
            <zeroOrMore>
               <ref name="identifier"/>
            </zeroOrMore>
         </list>
      </define>

      <define name="identifier">
         <data type="token">
            <param name="minLength">1</param>
         </data>
      </define>

      <define name="type_name">
         <data type="token">
            <param name="minLength">1</param>
         </data>
      </define>
   </div>
</grammar>
